@import '../variables';

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 360px;

        color: $light;
        background-color: $background;
        border-radius: 8px;

        p {
            margin-bottom: 20px;

            font-size: 24px;
        }

        input {
            width: 240px;
            height: 40px;
            margin-bottom: 16px;
            padding: 4px;

            color: $light;
            background-color: $background;
            border: none;
            border-bottom: 2px solid $light;
            font-size: 16px;
            outline: none;
        }

        button {
            width: 240px;
            height: 40px;
            margin-bottom: 16px;
            padding: 4px;

            background-color: $light;
            border-radius: 30px;
            font-size: 16px;

            &:hover {
                color: $light;
                background-color: $dark;
                transition: 0.25s ease-in-out;
            }
        }

        div {
            text-decoration: none;
        }
    }
}